.navbar{
    background: linear-gradient( to top right, black 0%, red 100%);
    text-decoration: none;
}
.nav-item{
    padding-right: 15%;


}

.nav-item a{
    color: white;
    text-decoration: none;
}
.nav-item :hover{
    text-decoration: none;
    color: red;
}

/* cerosal */
.carousel{
    margin-left: 15%;
    margin-right: 15%;
    width: 70;
}

.carousel img{
    width: 70%;
    height: 500;
}
/*  ------------flex    ---*/
.d-flex {
margin-left: 10%;
    
}
.d-flex imp{
    padding: 10%;
    width: 200px;
    height: 200px;
}

.p-2{
    border: thin solid black;
    margin:10px;

}
.p-2 button{
    margin-left: 30px;
    background-color: blue;
    color: white;
    width: 200px;
}

footer{
    text-align: center;
    background-color: gray;
    bottom: 0%;
    height: 40px;
}
